

<form class="" action="/patrons/new" method="get">
  <button type="submit" class="btn btn-dark" name="button">ADD USER</button>
</form>


<form action="/books/new" method="get">
  <button type="submit" class="btn btn-dark" name="button">ADD BOOK</button>
</form>

<form class="" action="/patrons/login" method="get">
  <button type="submit" class="btn btn-dark" name="button">USER</button>
</form>
<form action="/admin" method="get">
  <button type="submit" class="btn btn-dark" name="button">ADMIN</button>
</form>
