<form class="" action="/books" method="post">

  <input type="text" name="book_title" placeholder="Enter Book Title" required>
  <input type="text" name="author_name" placeholder="Enter Author Name" required>

  <button type="submit" name="button">Submit</button>

</form>
