
<h2>ADD A NEW PATRON!</h2>
<form class="" action="/patrons" method="post">
  <div class="form-group">
    <label>USER NAME</label>
    <input type="text" class="form-control" name="user_name" placeholder="Enter User Name">
  </div>
  <button type="submit" name="button">Submit New User</button>
</form>
